# =========================================================
# Terado CRM - Environment Configuration (Dummy / Prototype)
# Configure these with your live backend when integrating new APIs
# =========================================================

NEXT_PUBLIC_API_URL=https://api.teradocrm.com/v1
NEXT_PUBLIC_GATEWAY_URL=https://api.teradocrm.com/v1
NEXT_PUBLIC_SECRET_KEY=terado-crm-meta-verification-key-secret
NEXT_PUBLIC_SIGNATURE_VERSION=v4
NEXT_PUBLIC_ENVIROMENT=PROTOTYPE
